{% extends "base_unit/layout_base_unit.html" %}
{% block title %}
Base Unit
{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Departments</th>
        <th>Suppliers</th>
   </tr>
   <tr>
        <td>
            <form action="{% url 'add_departments' %}">
            <button class="button" type="submit">Add Departments</button>
            </form>
        </td>
        <td>
            <form action="{% url 'add_suppliers' %}">
            <button class="button" type="submit">Add Suppliers</button>
            </form>
        </td>
    </tr>
</table>
{% endblock %}
